@using FahasaStore.Models
@using FahasaStoreApp.Components
@using FahasaStoreApp.Models.ViewModels
@model FilterVM<AddressExtend>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Sổ địa chỉ";
    var paged = Model.Paged;
    var address = paged.Items.ToList();
}

<div class="bg-black bg-opacity-10">
    <div class="container pt-4">
        <div class="bg-white rounded-3 py-3">
            <div class="row">
                @(await Html.RenderComponentAsync<SideBarUserComponent>(RenderMode.ServerPrerendered, new { active = 1 }))
                <div class="col-lg-9 px-4" id="boxDataUser">
                    @await Html.PartialAsync("/Areas/User/Views/UserAddress/Filter.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>


