@using FahasaStoreApp.Components
@model FahasaStore.Models.PlatformBase

<div>
    <!-- Button trigger modal -->
    <button type="button" id="btn-toggle" class="btn btn-primary" hidden data-bs-toggle="modal" data-bs-target="#appModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <form asp-action="Edit" id="Edit" enctype="multipart/form-data" onsubmit="RenderPartialView('Edit', 'boxData', event);">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ImageUrl" class="form-control" hidden />
                <input asp-for="PublicId" class="form-control" hidden />
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="appModalLabel">Chỉnh sửa</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="d-flex flex-md-column align-items-center justify-content-around">
                                    <div class="form-group">
                                        <label asp-for="ImageUrl" class="control-label text-center d-block"></label>
                                        <input type="file" asp-for="File" class="form-control" id="fileImage" hidden />
                                        @(await Html.RenderComponentAsync<ImagePreviewComponent>(RenderMode.ServerPrerendered, new { idInputFile = "fileImage" }))
                                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label asp-for="PlatformName" class="control-label"></label>
                                    <input asp-for="PlatformName" class="form-control" />
                                    <span asp-validation-for="PlatformName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Link" class="control-label"></label>
                                    <textarea asp-for="Link" rows="4" class="form-control"></textarea>
                                    <span asp-validation-for="Link" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <input type="submit" value="Edit" class="btn btn-danger" data-bs-dismiss="modal" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btn-toggle").click();
</script>

@await Html.PartialAsync("_ValidationScriptsPartial")