@model FahasaStoreApp.Models.ViewModels.OptionsFilterBook

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

<h4>OptionsFilterBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label>
                <input asp-for="SubcategoryId" class="form-control" />
                <span asp-validation-for="SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <input asp-for="AuthorId" class="form-control" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerTypeId" class="control-label"></label>
                <input asp-for="PartnerTypeId" class="form-control" />
                <span asp-validation-for="PartnerTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <input asp-for="PartnerId" class="form-control" />
                <span asp-validation-for="PartnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverTypeId" class="control-label"></label>
                <input asp-for="CoverTypeId" class="form-control" />
                <span asp-validation-for="CoverTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimensionId" class="control-label"></label>
                <input asp-for="DimensionId" class="form-control" />
                <span asp-validation-for="DimensionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPrice" class="control-label"></label>
                <input asp-for="MinPrice" class="form-control" />
                <span asp-validation-for="MinPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice" class="control-label"></label>
                <input asp-for="MaxPrice" class="form-control" />
                <span asp-validation-for="MaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageNumber" class="control-label"></label>
                <input asp-for="PageNumber" class="form-control" />
                <span asp-validation-for="PageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageSize" class="control-label"></label>
                <input asp-for="PageSize" class="form-control" />
                <span asp-validation-for="PageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortBy" class="control-label"></label>
                <input asp-for="SortBy" class="form-control" />
                <span asp-validation-for="SortBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SortDescending" /> @Html.DisplayNameFor(model => model.SortDescending)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
