@model ErrorViewModel
@{
    ViewData["Title"] = "Error" + Model.ErrorCode;
}

<div class="d-flex justify-content-center align-items-center" style="height: 500px;">
    <div class="text-center">
        <h1 class="text-danger">@Model.ErrorCode</h1>
        <h2 class="text-danger">@Model.ErrorMessage</h2>
    </div>
</div>

